html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: darkslategrey;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;


}
.imgwrapper{
    width:100%;
}
.imgwrapper.mobile{
    display:none;
}

.pc-wrapper {
    width: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 10px 30px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.pc-wrapper.active {
    /*color: #ffffff!important;*/
    display: block;
    opacity: 1;
    align-items: center;
    justify-content: center;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}
@-webkit-keyframes slideUp{
    0%{-webkit-transform:translateY(66px);transform:translateY(66px)}
    100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideUp{
    0%{-webkit-transform:translateY(66px);-ms-transform:translateY(66px);transform:translateY(66px)}
    100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
/*DONATE MESSAGE*/

.pc-wrapper.donate.active {
    background-color: white;
    color: #000000;
    display: table;
    padding: 16px 1%;
    /*opacity: 1;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.pc-wrapper.donate.active pc-message-popup {
    background-color: black;
    color: #000000;
    /*display: block;*/
    /*opacity: 1;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.pc-message-popup{
    /*color: #000000;*/

}


.pc-wrapper.donate.active .pc-message-popup{
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    padding: 0px 1% 0px 1.4%;
    /*float: left;*/
    line-height: 22px;



}
.pc-wrapper.donate.active .pc-button-wrapper{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 1%;
    /*float: left;*/
    width: 260px;

}

.pc-wrapper.donate.active .pc-button-wrapper a{
    display: table-cell;
    vertical-align: middle;
}

.pc-wrapper.donate.active .pc-button-wrapper a img{
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    margin-left: 16px;

}

.pc-wrapper.donate.active .pc-button-wrapper .paypalform{
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.pc-wrapper.donate.active .pc-button-wrapper .paypalform input{
    display: table-cell;
    vertical-align: middle;
    height: 35px;
}

.pc-wrapper.donate.active .pc-button-wrapper .paypalform a{
    display: table-cell;
    vertical-align: middle;
}

.pc-wrapper.donate.active .pc-button-wrapper .paypalform a img{
    width: 80px;
     float: none;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle;

}


.unicef-wrapper{
    display: table-cell;
    width: 80px;
    vertical-align: middle;
    /*float: left;*/
}

.unicef-wrapper a img{
    width: auto;
    height: 40px;
}

.close-wrapper {

    display: table;
    vertical-align: middle;
    float: right;
    width: auto;
    /*margin-top: 10px;*/

}

.pc-timer {
    margin-right: 10px;
    display: none;
}
#time{
    color: #808080;
    display: table-cell;
    vertical-align: middle;
    /* margin-right: 3px; */
    width: 20px;
}

.pc-close {
    /*margin-left: 1%;*/
    cursor: pointer;
    width: 40px;
    float: right;
}


/* Media Queries for Desktop*/
@media (max-width: 1400px) {
    .pc-wrapper.donate.active .pc-message-popup {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    .pc-wrapper.donate.active .pc-message-popup {
        width: 50%;
    }

    #time {
        color: grey;
        display: table-footer-group;
        vertical-align: middle;
        width: 20px;
        text-align: center;
    }

}

@media (max-width: 1100px) {
    .pc-wrapper.donate.active .pc-message-popup {
        width: 56%;
    }
}

/* Media Queries for Desktop*/
@media (max-width: 925px) {
    .pc-timer {
        display: none;
    }
}

/* Media Queries for Tablet*/
@media (max-device-width: 768px) {
    .imgwrapper{
        display: none;
    }
    .imgwrapper.mobile{
        display: block;
    }
    .pc-close {
        /*position: absolute;*/
        /*right: 10px;*/
        /*top: 5px;*/
        /*width: 25px;*/
    }
    .pc-wrapper.active{
        /*font-size: 20px!important;*/
        /*text-align: center!important;*/
    }

    .pc-wrapper.donate.active {
        /*display: table;*/
        /*text-align: center;*/
    }

    .pc-button-wrapper {
        flex-direction: row;
        margin-top: 15px;
    }

    .pc-donatelogo-popup {
        height: 40px;
        width: auto;
        margin-left: 10px;
        display: table-cell;
        vertical-align: middle;
    }

    .pc-message-popup {
        width: 80%;
        margin-right: 3%;
        display: inline-block;
    }

    .paypalform {
        margin-top: 20px;
    }
}


/* Media Queries for Tablet*/
@media (max-device-width: 480px) {

    .pc-wrapper.active{
        font-size: 26px!important;
        text-align: center!important;
    }
    .cookie-accept-btn{
        height:46px!important;
        float: none!important;
        margin-top: 8px;
        font-size: 26px!important;
        padding: 6px!important;

    }

    .unicef-wrapper {
        width: 90px;
    }

    .unicef-wrapper a img {
        width: auto;
        height: 60px;
    }

    .pc-wrapper.donate.active .pc-message-popup {
        width: 60%;
        text-align: justify;
        font-size: 24px;
        line-height: 26px;
        padding-left: 20px;
    }

    .pc-wrapper.donate.active .pc-button-wrapper {
        /*padding: 0 1%;*/
        width: auto;
    }

    .pc-wrapper.donate.active .pc-button-wrapper .paypalform {
        margin-top: 0px;
        display: table;
        /* vertical-align: middle; */
        float: none;
    }

    .pc-wrapper.donate.active .pc-button-wrapper .paypalform input {
        height: 40px;
    }

    .pc-wrapper.donate.active .pc-button-wrapper a{

        display: table;
    }

    .pc-wrapper.donate.active .pc-button-wrapper a img {
        height:30px;
        width: auto;
        margin-left: 16px;
    }

    .close-wrapper{
        float: none;
        /*width: 65px;*/
    }
    .pc-timer {
        margin-right: 10px;
        width: auto;
        height: 30px;
    }

    .cookie-accept-btn, .paypalform input, .pc-close {
        cursor: pointer;
        height: 60px;
        width: auto;
    }

}

/* Texts in the Popup Message */
.pc-message-popup {
    /*margin-left: 2%;*/

}

#cookie-desc {
    width: 100%;
    /*text-align: center;*/
    display: inline-block;
    float: left;
    line-height: 30px;
}
/*Info link for Cookies*/
.pc-cookie-info {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 6px;

}

.cookie-accept-btn {
    display: inline-block;
    float: right;
    background-color: #000000;
    border-color: #000000;
    perspective: none;
    pointer-events: auto;
    color: #ffffff;
    margin-left: 1%;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    background-color: #d7241a!important;
    width: 150px;
    font-weight: bold;
}


.pc-donatebuttonimg {
    display: block;
    float: left;
    cursor: pointer;
}

/* Wrapper for the Paypal and Unicef Logos  */
.pc-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-button-wrapper * {
    margin-left: 15px;
}

.paypalform {
    margin-left: 1%;
}
.paypalform input{
    cursor: pointer;
}
/* To remove a pixel displayed with the paypal button  */
.paypalform img {
    display: none;
}

.pc-donatelogo-popup {
    width: 100px;
    float: left;
    margin-left: 1%;
}



/* This is for the disalbing Screen for an older layout
.pc-disablingdiv {
    background-color: rgba(0, 0, 0, 0.8);
    background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0.8) 100%);
    background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}

.pc-window {
    position: absolute;
    z-index: 1001;
    top: 30%;
    left: 40%;
    background: white;
    width: 230px;
    height: 30%;
    text-align: center;
}

.pc-windowlogo {
    margin: 10px auto;
    width: 45%;
    height: 20%;
}

.pc-input-window {
    border: solid 1px black;
    margin-top: 10%;
    width: 50%;
    height: 12%;
    font-size: 18px;
    text-align: center;
}

.pc-message-window {
    text-align: center;
}

.pc-paypal-window {
    margin-top: 23px;
    display: block;
    float: left;
    cursor: pointer;
}
*/
